<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Product\Create */
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$allowedSets = $helper->getAllowedSets();
$allowedProducts = $helper->getAllowedProductTypes();
$totalSets = count($allowedSets);
$totalProductTypes = count($allowedProducts);
?>

<?php if (!$helper->isProfileCompleted() && $helper->getSellerProfileDisplayFlag()): ?>
    <div class="wk-profile-alert">
        <strong><?php echo __('Warning')?>! </strong><?php echo __('Please Complete')?>
        <a href="<?php echo $block->getUrl('marketplace/account/editprofile', ['_secure' => $this->getRequest()->isSecure()])?>" style="color: inherit;">
            <?php echo __('Your Profile')?>
        </a>
        <span class="wk-close">X</span>
    </div>
<?php endif; ?>
<form action="<?php echo $block->getUrl('marketplace/product/create', ['_secure' => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" id="form-customer-product-new" data-mage-init='{"validation":{}}'>
    <div class="wk-mp-design">
        <fieldset class="fieldset info wk-mp-fieldset">
            <legend class="legend">
                <span><?php echo __('Add New Product') ?></span>
                <button class="button wk-mp-btn" title="Continue" type="submit">
                    <span><span><?php echo __('Continue') ?></span></span>
                </button>
            </legend>
            <?php echo $block->getBlockHtml('formkey')?>
            <?php echo $block->getBlockHtml('seller.formkey')?>
            <?php if ($totalSets > 0): ?>
                <?php if ($totalSets > 1): ?>
                    <div class="field required">
                        <label class="label"><?php echo __('Attribute Set') ?>:</label>
                        <div class="control">
                            <select name="set" class="required-entry">
                            <?php foreach($allowedSets as $set): ?>
                                <option value="<?php echo $set['value'] ?>"><?php echo $set['label']?></option>
                            <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <input type="hidden" name="set" value="<?php echo $allowedSets[0]['value'] ?>" />
                <?php endif; ?>
            <?php endif; ?>
            <?php if ($totalProductTypes > 0): ?>
                <?php if ($totalProductTypes > 1): ?>
                    <div class="field required">
                        <label class="label"><?php echo __('Product Type') ?>:</label>
                        <div class="control">
                            <select name="type" class="required-entry">
                            <?php foreach($allowedProducts as $type): ?>
                                <option value="<?php echo $type['value'] ?>"><?php echo $type['label']?></option>
                            <?php endforeach; ?>
                            </select>
                        </div>
                    </div>
                <?php else: ?>
                    <input type="hidden" name="type" value="<?php echo $allowedProducts[0]['value'] ?>" />
                <?php endif; ?>
            <?php endif; ?>
            <?php echo $block->getChildHtml(); ?>
        </fieldset>
    </div>
</form>
<div class="buttons-set">
    <p class="required">* <?php echo __('Required Fields') ?></p>
    <p class="back-link">
        <a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back') ?></a>
    </p>
</div>