/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/* login page css */
html {
    height: 100%;
}
.page-layout-seller-login {
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #373330;
    height: 101%;
    max-height: 100%;
}
.page-layout-seller-login .nav-toggle {
    display: none!important;
}
.page-layout-seller-login .logo {
    margin: -8px auto 25px 0!important;
}
.page-layout-seller-login .wk-mp-page-wrapper {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    box-shadow: 0 5px 30px 0 #000;
    display: block;
    float: none;
    margin: auto;
    min-height: 30rem;
    min-width: 0;
    position: relative;
    z-index: 1;
}
.page-layout-seller-login .wk-mp-login-header {
    display: inline-block;
    width: 100%;
}
.wk-mp-login-footer {
    color: #989287;
    font-size: 1rem;
    font-weight: 400;
    left: 0;
    margin: 5rem 0 2rem;
    position: absolute;
    text-align: center;
    top: 100%;
    width: 100%;
}
.marketplace-account-login .fieldset > .field > .control {
    width: 100%!important;
}
@media (max-width: 599px) {
    .page-layout-seller-login {
        min-width: 20rem;
    }
    .page-layout-seller-login .wk-mp-page-wrapper {
        max-width: 15rem;
        padding: 3rem 3rem 4rem;
        width: calc(100% - 6rem - 2px);
    }
}
@media (min-width: 600px) {
    .page-layout-seller-login {
        min-width: 50rem;
    }
    .page-layout-seller-login .wk-mp-page-wrapper {
        max-width: 45rem;
        padding: 3rem 6rem 4rem;
        width: calc(100% - 12rem - 2px);
    }
}